[Unit]
Description=Kafka
Documentation=https://kafka.apache.org/documentation/
{% if zoo_service != "" %}
Requires={{ zoo_service }}.service
{% else %}
After=syslog.target
{% endif %}

[Service]
Type=simple
User=root
Group=root
EnvironmentFile={{ config_dir }}/systemctl-env.sh
ExecStart={{ install_dir }}/bin/kafka-server-start.sh {{ config_dir }}/server.properties
KillSignal=15
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target