{
  "registry-mirrors": [
    "https://registry.docker-cn.com"
  ],
  "insecure-registries": [
    "0.0.0.0"
  ],
  "exec-opts": [
    "native.cgroupdriver=systemd"
  ],
  "iptables": false,
  "dns": [
    "114.114.114.114",
    "8.8.8.8",
    "8.8.4.4"
  ]
}