[Unit]
Description=Caddy
Documentation=https://caddyserver.com/docs/
After=syslog.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ install_dir }}/caddy run --config {{ config_dir }}/Caddyfile
KillSignal=15
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target