{{ mongodb_cluster_replica_set.log_dir }}/{{ mongodb_cluster_replica_set.log_file }} {
    create 0600 mongod mongod
    daily
    rotate 10
    missingok
    notifempty
    compress
    delaycompress
    dateext
    sharedscripts
    postrotate
        kill -USR1 `cat {{ mongodb_cluster_replica_set.pid_dir }}/{{ mongodb_cluster_replica_set.pid_file }}` > /dev/null 2>&1 || true
    endscript
}