[Unit]
Description=MongoDB
Documentation=https://www.mongodb.com/docs/manual/
After=syslog.target

[Service]
Type=simple
User=mongod
Group=mongod
ExecStart={{ install_dir }}/bin/mongod -f {{ config_dir }}/{{ mongod_config_file }}
KillSignal=15
SuccessExitStatus=143

# Other directives omitted
# (file size)
LimitFSIZE=infinity
# (cpu time)
LimitCPU=infinity
# (virtual memory size)
LimitAS=infinity
# (locked-in-memory size)
LimitMEMLOCK=infinity
# (open files)
LimitNOFILE=64000
# (processes/threads)
LimitNPROC=64000

[Install]
WantedBy=multi-user.target