systemLog:

  # 日志级别
  verbosity: 0

  # 安静模式 (无日志产生)
  quiet: false

  # 日志类型
  destination: file

  # 日志目录
  path: {{ log_dir }}/{{ log_file }}

  # 日志追加
  logAppend: true

  # 使用logrotate工具管理日志滚动
  logRotate: reopen

  # 日志时间戳格式
  timeStampFormat: iso8601-local

net:

  # 监听端口
  port: {{ listen_port }}

  # 是否绑定所有网卡
  bindIpAll: true

  # 是否支持IPv6
  ipv6: false

  unixDomainSocket:

    # 禁用socket, 只允许使用TCP方式连接
    enabled: false

storage:

  # 数据存储目录
  dbPath: {{ data_dir }}

security:

  # 认证
  authorization: {{ auth }}

{% if cluster_type != 'standalone' and auth == 'enabled' %}
  # key文件
  keyFile: {{ install_dir }}/keys/mongodb.key
{% endif %}

processManagement:

  # fork为true为后台模式
  fork: false

  # pid文件
  pidFilePath: {{ pid_dir }}/{{ pid_file }}

{% if cluster_type != 'standalone' %}
replication:

  # 副本级名称
  replSetName: {{ replication_set_name }}
{% endif %}
