# 参考
# https://github.com/rabbitmq/rabbitmq-server/blob/master/deps/rabbit/docs/rabbitmq.conf.example
# https://github.com/rabbitmq/rabbitmq-server/blob/master/deps/rabbit/docs/advanced.config.example

# ----------------------------------------------------------------------------------------------------------------------
# Log
# ----------------------------------------------------------------------------------------------------------------------

# 日志级别
log.file.level = info

# rotate时间点
log.file.rotation.date = $D0

# 保存旧日志数量
log.file.rotation.count = 5

# 日志是否输出到标准输出
log.console = true

# 标准输出日志级别
log.console.level = info

# 日志是否输出到syslog
log.syslog = false

# ----------------------------------------------------------------------------------------------------------------------
# 网络配置
# ----------------------------------------------------------------------------------------------------------------------
listeners.tcp.1 = 0.0.0.0:{{ listen_port }}
