set smtp=smtp://smtp.qq.com:587
set smtp-auth=login
set smtp-auth-user=yingzhor@qq.com
set smtp-auth-password={{ auth_passwd }}
set ssl-verify=ignore
set nss-config-dir=/etc/pki/nssdb/
set from=yingzhor@qq.com
